@media screen and (min-width:320px ) {
    html{
        font-size: 8.53px;
    }
}
@media screen and (min-width:360px ) {
    html{
        font-size: 9.6px;
    }
}
@media screen and (min-width:375px ) {
    html{
        font-size: 10px;
    }
}
@media screen and (min-width:412px ) {
    html{
        font-size: 11.04px;
    }
}

